.main_goods_item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  padding: 10px 10px 10px 20px;
  border: 5px solid #262f34;
  cursor: pointer;
}

.main_goods_item_img {
  width: 80%;
}

.main_goods_item_info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main_goods_item_info_name {
  font-size: 30px;
  margin: 10px 0px;
}

.main_goods_item_info_price {
  font-size: 35px;
  color: #f34a4a;
  align-self: flex-end;
}
